//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: flex;
  padding: rem(18) rem(48);
  font-weight: 600;
  font-size: rem(16);
  line-height: math.div(24, 16);
  color: $bag;
  background-color: $accent;
  border-radius: rem(40);
  transition: all 0.5s ease 0s;
  border: 1px solid transparent;
  @media (any-hover: hover) {
    &:hover {
      color: $accent;
      background-color: $bag;
      border: 1px solid $accent;
    }
  }

  &._fw {
    width: 100%;
  }
}
