// Заголовки, общие БЄМ блоки и проче...
.button {
  &__promo {
  }
}
//==========================================================================================================================================
.product {
  background-color: $bag;
  &:not(:last-child) {
    margin-bottom: rem(60);
    @media (min-width: $mobile) {
      margin-bottom: rem(96);
    }
  }
  &__container {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue('font-size', 20, 16);
    line-height: math.div(30, 20);
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }

  &__title {
    font-weight: 600;
    letter-spacing: 0.08em;
  }

  &__more {
    font-weight: 500;
    color: $colorMore;
    transition: all 0.8s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $accent;
      }
    }
  }

  &__slider {
  }

  &__wrapper {
  }

  &__slide {
  }
}
//==========================================================================================================================================

.product-card {
  display: grid;
  gap: rem(40);
  max-width: rem(364);
  height: rem(282);

  &__image {
  }

  &__item-ibg {
    display: block;
    padding-bottom: percent(190, 364);
  }

  &__item-ibg--contain {
  }

  &__body {
    display: grid;
    gap: rem(7);
    text-align: left;
  }

  &__title {
  }

  &__link-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    @media (any-hover: hover) {
      &:hover {
        color: $accent;
      }
    }
  }

  &__footer {
  }

  &__price {
    font-weight: 400;
    line-height: math.div(21, 14);
    color: $colorGrey;
  }
}
//==========================================================================================================================================
.dotts {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  transform: translate(0, 10%);
  margin: 0 auto;
  padding-top: rem(10);
  height: rem(22);
  @media (min-width: $mobile) {
    position: absolute;
    bottom: rem(35);
    right: rem(20);
    padding-top: 0;
  }
  // overflow: hidden;
  & .swiper-pagination-bullet {
    margin: 0 rem(8);
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease 0s;
    &::after {
      content: '';
      position: absolute;
      height: rem(16);
      width: rem(10);
      // width: 100%;
      top: 50%;
      transform: translate(0, -50%);
      background-color: #c4c4c4;
      border-radius: 20px;
    }
  }
  & .swiper-pagination-bullet-active {
    width: rem(24);
    height: rem(12);
    margin: 0 rem(12);
    &::after {
      background-color: $accent;
      width: rem(24);
      height: rem(12);
    }
  }
}
//==========================================================================================================================================
