//====================================================================================================
.page-promo {
}
//==========================================================================================================================================

.promo {
  &__container {
  }

  &__body {
    max-width: rem(469);
  }

  &__title {
    font-family: 'CalSans';
    font-weight: 600;

    @include adaptiveValue('font-size', 56, 24);
    line-height: math.div(67, 56);
    &--color {
      color: $accent;
    }
  }

  &__text {
    color: $colorGrey;
    font-weight: 500;
    line-height: math.div(24, 16);
    font-size: rem(16);
    margin-top: rem(16);
    &:not(:last-child) {
      margin-bottom: rem(33);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: rem(28);
  }
  &__inner {
    display: flex;
    gap: rem(40);
  }
  &__slider {
  }

  &__wrapper {
  }

  &__slide {
  }
}

//====================================================================================================
